In [1]:
### SQQN
### eligstat        是否链接上  1.是    2.18岁以下
### mortstat        生存状态    1.存活  2.死亡
### UCOD_LEADING    死亡原因    1.心脏病；2恶性肿瘤；3.慢性呼吸系统疾病；4.意外；5.脑血管疾病；6.阿尔兹海默症；7.糖尿病；8.流感和肺炎；9.肾病；10.其他原因
### DODQTR          死亡季度    
### permth_int      从访谈到死亡的月数
### permth_exm      从MEC到死亡的月数
import pandas as pd

In [2]:
mortality_df = pd.read_csv('E:/work/Paper/NHANES/0910Analysis Data/Mortality Data/NHANES_09-10_mortality.csv', index_col=0)

In [3]:
mortality_df.shape[0]

10537

In [4]:
mortality_df = mortality_df[mortality_df['eligstat'] == 1]
mortality_df.rename(columns={'seqn':'SEQN'}, inplace=True)

In [5]:
mortality_df.shape[0]

6510

In [6]:
mortality_df['ucod_leading'].fillna(0, inplace=True)
mortality_df['follow_year'] = mortality_df['permth_int'] / 12

In [7]:
mortality_df.to_excel('E:/work/Paper/NHANES/0910Analysis Data/Final data/mortality.xlsx')

In [8]:
mortality_df

,SEQN,eligstat,mortstat,ucod_leading,diabetes,hyperten,permth_int,permth_exm,follow_year
1,51624,1,0.0,0.0,NaN,NaN,111.0,111.0,9.250000
5,51628,1,0.0,0.0,NaN,NaN,133.0,132.0,11.083333
6,51629,1,0.0,0.0,NaN,NaN,112.0,112.0,9.333333
7,51630,1,0.0,0.0,NaN,NaN,109.0,109.0,9.083333
10,51633,1,0.0,0.0,NaN,NaN,124.0,123.0,10.333333
...,...,...,...,...,...,...,...,...,...
10532,62155,1,0.0,0.0,NaN,NaN,117.0,116.0,9.750000
10533,62156,1,0.0,0.0,NaN,NaN,123.0,123.0,10.250000
10534,62157,1,0.0,0.0,NaN,NaN,131.0,130.0,10.916667
10535,62158,1,0.0,0.0,NaN,NaN,128.0,128.0,10.666667
10537,62160,1,0.0,0.0,NaN,NaN,126.0,125.0,10.500000