In [2]:
# drinks    平均每天摄入酒精g

import pandas as pd
import numpy as np

In [3]:
alcohol_use = pd.read_sas('E:/work/Paper/NHANES/0708Analysis Data/Alcohol/ALQ_E.XPT')

In [5]:
alcohol_use_extract_features = [
    'SEQN',
    'ALQ120Q',  #饮酒频率
    'ALQ120U',  #单位
    'ALQ130',   #饮酒杯数
    'ALQ101'
]
alcohol_use_extract_df = alcohol_use.loc[:,alcohol_use_extract_features]
alcohol_use_extract_df = alcohol_use_extract_df.replace([777,999,7,9], np.nan)

In [9]:
def calculate_alcohol(x):
    if x['ALQ101'] == 2:
        drinks = 0
    else:
        num = x['ALQ120Q'] * x['ALQ120U']
        if x['ALQ120U'] == 1:
            num = num*52
        elif x['ALQ120U'] == 2:
            num = num*12
        elif x['ALQ120U'] == 3:
            num = num*1
        drinks = num*x['ALQ130'] / 365
    return drinks*14
alcohol_use_extract_df['drinks'] = alcohol_use_extract_df.apply(calculate_alcohol, axis=1)

In [20]:
alcohol_use_extract_df[alcohol_use_extract_df['SEQN'] == 47384.0]

         SEQN  ALQ120Q  ALQ120U  ALQ130  ALQ101      drinks
3341  47384.0      3.0      1.0    66.0     1.0  394.915068

In [10]:
sum(pd.isna(alcohol_use_extract_df['drinks']))

1450

In [11]:
alcohol_use_df = alcohol_use_extract_df.loc[:,['SEQN','drinks']]

In [19]:
alcohol_use_df[alcohol_use_df['drinks'] == alcohol_use_df['drinks'].max()]

         SEQN      drinks
3341  47384.0  394.915068

In [18]:
alcohol_use_df['drinks'].max()

394.91506849315067

In [13]:
alcohol_use_df.describe()

               SEQN       drinks
count   5707.000000  4257.000000
mean   46556.693709     6.309720
std     2929.480119    15.554003
min    41475.000000     0.000000
25%    44049.500000     0.000000
50%    46542.000000     1.150685
75%    49105.500000     7.364384
max    51623.000000   394.915068

In [44]:
alcohol_use_df.to_excel('E:/work/Paper/NHANES/0708Analysis Data/Final data/alcohol_use.xlsx')