In [1]:
import pandas as pd
# LBXGH  糖化血红蛋白

In [2]:
hba_df = pd.read_sas(r'E:\work\Paper\NHANES\0910Analysis Data\HbA1c\GHB_F.XPT')
hba_df

         SEQN  LBXGH
0     51624.0    5.2
1     51626.0    5.7
2     51628.0    6.0
3     51629.0    5.1
4     51630.0    5.3
...       ...    ...
7364  62155.0    5.4
7365  62156.0    5.5
7366  62157.0    5.6
7367  62158.0    5.4
7368  62160.0    6.7

[7369 rows x 2 columns]

In [3]:
hba_df.to_excel('E:/work/Paper/NHANES/0910Analysis Data/Final data/glycohemoglobin.xlsx')