In [1]:
import pandas as pd
# LBXGH  糖化血红蛋白

In [3]:
hba_df = pd.read_sas(r'E:\work\Paper\NHANES\0708Analysis Data\HbA1c\GHB_E.XPT')
hba_df

         SEQN  LBXGH
0     41475.0    5.7
1     41477.0    9.5
2     41479.0    5.7
3     41481.0    NaN
4     41482.0    7.0
...       ...    ...
6912  51619.0    5.3
6913  51620.0    5.4
6914  51621.0    4.9
6915  51622.0    4.8
6916  51623.0    5.4

[6917 rows x 2 columns]

In [4]:
hba_df.to_excel('E:/work/Paper/NHANES/0708Analysis Data/Final data/glycohemoglobin.xlsx')