In [1]:
### SQQN
### eligstat        是否链接上  1.是    2.18岁以下
### mortstat        生存状态    1.存活  2.死亡
### UCOD_LEADING    死亡原因    1.心脏病；2恶性肿瘤；3.慢性呼吸系统疾病；4.意外；5.脑血管疾病；6.阿尔兹海默症；7.糖尿病；8.流感和肺炎；9.肾病；10.其他原因
### DODQTR          死亡季度    
### permth_int      从访谈到死亡的月数
### permth_exm      从MEC到死亡的月数
import pandas as pd

In [2]:
mortality_df = pd.read_csv('E:/work/Paper/NHANES/0708Analysis Data/Mortality Data/NHANES_07-08_mortality.csv', index_col=0)

In [3]:
mortality_df.shape[0]

10149

In [4]:
mortality_df = mortality_df[mortality_df['eligstat'] == 1]
mortality_df.rename(columns={'seqn':'SEQN'}, inplace=True)

In [5]:
mortality_df.shape[0]

6219

In [4]:
mortality_df['ucod_leading'].fillna(0, inplace=True)
mortality_df['follow_year'] = mortality_df['permth_int'] / 12

In [5]:
mortality_df.to_excel('E:/work/Paper/NHANES/0708Analysis Data/Final data/mortality.xlsx')

In [6]:
mortality_df

,SEQN,eligstat,mortstat,ucod_leading,diabetes,hyperten,permth_int,permth_exm,follow_year
1,41475,1,0.0,0.0,NaN,NaN,147.0,146.0,12.250000
3,41477,1,0.0,0.0,NaN,NaN,147.0,146.0,12.250000
5,41479,1,0.0,0.0,NaN,NaN,144.0,143.0,12.000000
7,41481,1,0.0,0.0,NaN,NaN,154.0,153.0,12.833333
8,41482,1,0.0,0.0,NaN,NaN,136.0,135.0,11.333333
...,...,...,...,...,...,...,...,...,...
10144,51618,1,0.0,0.0,NaN,NaN,146.0,145.0,12.166667
10145,51619,1,0.0,0.0,NaN,NaN,153.0,152.0,12.750000
10146,51620,1,0.0,0.0,NaN,NaN,147.0,146.0,12.250000
10148,51622,1,0.0,0.0,NaN,NaN,142.0,141.0,11.833333
10149,51623,1,1.0,3.0,0.0,0.0,30.0,30.0,2.500000